* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.barraAzul {
    height: 70px;
    background-color: rgb(0, 90, 162);
    justify-content: space-between;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: rgb(0 0 0 / 83%) -1px 8px 22px -6px;
}

.icono-menu {
    height: 100%;
    cursor: pointer;
}

.icono-usuario-color {
    border-radius: 100%;
    background-color: white;
}

.iconos-juntos {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.barraAzul div img {
    height: 100%;
}

.icono-flechitaAbajo {
    height: 50%;
    margin-top: .76%;
}

.content-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 55;
    top: 0;
    display: flex;
    background-color: #00000036;
    transition: .4s all;
    opacity: 1;
    visibility: visible;
}

.AppList {
    width: 0%;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: white;
    transition: .4s all;
    overflow-x: clip;
    opacity: 1;
}

.pt1App {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.tituloApp {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-left: 50px;
}

.closer {
    cursor: pointer;
}

.pt1App h1 {
    display: flex;
    flex-direction: row;
}

.pt1App div {
    font-family: 'Raleway', sans-serif;
    color: #005AA2;
}

.pt1App img {
    height: 100%;
    width: 40px;
}

.pt2App {
    width: 100%;
    height: 100%;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
}

.barrasApp {
    display: flex;
    flex-direction: column;
}

.pt2App img {
    margin-left: 10px;
}

.brr {
    height: 100%;
    background-color: #CCCCCC;
    width: 8px;
}

.App1 {
    background-color: #005AA2;
}

.barra1App,
.barra2App,
.barra3App,
.barra4App {
    width: 100%;
    height: 70px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.barra1App img,
.barra2App img,
.barra3App img,
.barra4App img {
    padding: 10px;
}

.barra1App p,
.barra2App p,
.barra3App p,
.barra4App p {
    padding: 27px 0px;
    margin-left: 15px;
}

.barra1App p {
    font-family: 'Raleway', sans-serif;
    color: #005AA2;
}

.barra2App p,
.barra3App p,
.barra4App p {
    font-family: 'Raleway', sans-serif;
}

.salidaApp {
    width: 100%;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-top: 55%;
    background-color: #e4e4e4;
}

.salidaApp p {
    font-family: 'Raleway', sans-serif;
    padding: 10px 0px;
    margin-left: 15px;
}

.salidaApp img {
    height: 50px;
    margin-left: 30px;
}

.close-content {
    opacity: 0;
    visibility: hidden;
    transition: .4s all;
}

.ldt {
    background-color: white;
    width: 100%;
    height: 100%;
}

.pt1-ldt {
    text-align: center;
    align-items: center;
    background-image: url(./../img/bg_login.jpg);
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.pt1-ldt h1 {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    padding: 30px;
}

.buscador {
    display: flex;
    flex-direction: row;
    border-radius: 45px;
    padding: 0px 35px;
    background-color: #0059a200;
    border: 3px solid #FFCC00;
    width: 60%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.buscador input {
    background-color: #0059a200;
    border: none;
    width: 100%;
    cursor: pointer;
}

.buscador button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.buscador button img {
    width: 50px;
    padding: 8px;
}

.buscador input::placeholder {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    border: none;
}

.buscador input:focus {
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    outline: 0;
}

.barras-ldt {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.barr {
    height: 100%;
    background-color: #005AA2;
    width: 8px;
}

.barra {
    width: 85%;
    height: 80px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border: 1px solid #CCCCCC;
}

.br1-ldt{
    border-top: 2px solid #CCCCCC;
}

.br4-ld{
    border-bottom: 2px solid #CCCCCC;
}

.barra img {
    height: 30px;
    margin-left: 15px;
}

.barra p {
    padding: 30px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: left;
    margin-left: 25px;
}

.icon-juntos {
    margin-left: auto;
    padding: 25px 14px;
}

.plus{
    width: 85px;
    height: 85px;
    display: flex;
    border-radius: 100%;
    background-color: #005AA2;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: 20px;
}

.plus img{
    padding: 20px 19px;
}