* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Login {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.pt1 {
    width: 50%;
    text-align: center;
}

.titulo {
    margin-top: 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: #005AA2;
}

.pt1 p {
    padding: 40px;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
}

.pt1 a {
    color: #005AA2;
    text-decoration: none;
}

.pt1 a:hover {
    color: #012848;
    text-decoration: none;
}

.ema,
.contra {
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
}

input {
    border: none;
    border-bottom: 2px solid #999999;
    outline: 0;
    text-align: left;
    padding: 10px;
}

::placeholder {
    font-family: 'Raleway', sans-serif;
    color: #999999;
    font-size: 17px;
}

input:focus {
    border-bottom: 2px solid #FFCC00;
}

.error {
    color: #DC3545;
    font-size: 13px;
}

.input-error {
    border-bottom: 2px solid #DC3545;
}

.input-error:focus {
    border-bottom: 2px solid #DC3545;
}

form {
    text-align: left;
    background-color: white;
    padding: 60px;
    padding-top: 0px;
    padding-bottom: 40px;
    margin-top: 70px;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border-radius: 45px;
    padding: 12px 0px;
    background-color: #005AA2;
    border: 3px solid #005AA2;
    color: white;
    width: 30%;
    cursor: pointer;
}

button:hover {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border-radius: 45px;
    padding: 12px 0px;
    background-color: #012848;
    border: 3px solid #012848;
    color: white;
    width: 30%;
}

button:disabled {
    margin-top: -20px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border-radius: 45px;
    padding: 12px 0px;
    background-color: rgba(8, 109, 192, 0.797);
    border: 3px solid rgba(8, 109, 192, 0.797);
    color: white;
    width: 30%;
}

button:disabled:hover {
    margin-top: -20px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border-radius: 45px;
    padding: 12px 0px;
    background-color: rgba(8, 109, 192, 0.797);
    border: 3px solid rgba(8, 109, 192, 0.797);
    color: white;
    width: 30%;
}

.pt2 {
    width: 50%;
}

.pt2 img {
    width: 100%;
    height: 100%;
}

.error {
    font-family: 'Raleway', sans-serif;
    color: #DC3545;
    font-size: 14px;
}

.comprobando {
    color: gray;
    font-family: 'Raleway', sans-serif;
}

.exito {
    color: rgb(38, 228, 63);
    font-family: 'Raleway', sans-serif;
}

@media(max-width: 991px) {
    .pt1 {
        width: 100%;
        height: auto;
    }

    .pt2 {
        display: none;
    }

    .titulo {
        background-image: url(./../img/bg_login.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        padding: 60px 0px;
        padding-top: 80px;
        margin-top: 0px;
    }

    .pt1 h1 {
        margin: 0px;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 80px;
    }

    form {
        padding: 15px 90px;
        margin-top: 30px;
    }

    .ema,
    .contra {
        font-size: 22px;
    }

    button {
        margin-top: 45px;
        font-size: 22px;
        border-radius: 45px;
        padding: 20px 0px;
        width: 23%;
        cursor: pointer;
    }

    button:hover {
        margin-top: 0px;
        font-size: 22px;
        border-radius: 45px;
        padding: 20px 0px;
        width: 23%;
        cursor: pointer;
    }

    button:disabled {
        margin-top: 0px;
        font-size: 22px;
        border-radius: 45px;
        padding: 20px 0px;
        width: 23%;
        cursor: pointer;
    }

    button:disabled:hover {
        margin-top: 0px;
        font-size: 22px;
        border-radius: 45px;
        padding: 20px 0px;
        width: 23%;
        cursor: pointer;
    }

    ::placeholder {
        font-size: 22px;
    }

    .pt1 p {
        margin-top: 40px;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        margin-bottom: 25px;
    }

    .error {
        font-family: 'Raleway', sans-serif;
        color: #DC3545;
        font-size: 22px;
        margin-top: -10px;
    }
}