* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Login{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.pt1 {
    width: 50%;
    text-align: center;
}

.titulo{
    margin-top: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    color: #005AA2;
}

.pt1 p {
    padding: 40px;
    font-family: 'Raleway', sans-serif;
}

.pt1 a {
    color: #005AA2;
    text-decoration: none;
}

.pt1 a:hover {
    color: #012848;
    text-decoration: none;
}

.ema, .contra {
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
}

input {
    border: none;
    border-bottom: 2px solid #999999;
    outline: 0;
    text-align: left;
    padding: 10px;
}

::placeholder {
    font-family: 'Raleway', sans-serif;
    color: #999999;
    font-size: 17px;
}

input:focus {
    border-bottom: 2px solid #FFCC00;
}

.error {
    color: #DC3545;
    font-size: 13px;
}

.input-error {
    border-bottom: 2px solid #DC3545;
}

.input-error:focus {
    border-bottom: 2px solid #DC3545;
}

form {
    text-align: left;
    background-color: white;
    padding: 60px;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-top: -20px;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border-radius: 45px;
    padding: 12px 0px;
    background-color: #005AA2;
    border: 3px solid #005AA2;
    color: white;
    width: 30%;
    cursor: pointer;
}

button:hover {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border-radius: 45px;
    padding: 12px 0px;
    background-color: #012848;
    border: 3px solid #012848;
    color: white;
    width: 30%;
}

button:disabled {
    margin-top: -20px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border-radius: 45px;
    padding: 12px 0px;
    background-color: rgba(8, 109, 192, 0.797);
    border: 3px solid rgba(8, 109, 192, 0.797);
    color: white;
    width: 30%;
}

button:disabled:hover {
    margin-top: -20px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border-radius: 45px;
    padding: 12px 0px;
    background-color: rgba(8, 109, 192, 0.797);
    border: 3px solid rgba(8, 109, 192, 0.797);
    color: white;
    width: 30%;
}

.pt2 {
    width: 50%;
}

.pt2 img {
    width: 100%;
    height: 100%;
}

.error {
    font-family: 'Raleway', sans-serif;
    color: #DC3545;
    font-size: 14px;
}

.comprobando{
    color: gray;
    font-family: 'Raleway', sans-serif;
}

.comprobado{
    color: gray;
    font-family: 'Raleway', sans-serif;
}